<! DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>appapply</title>  	
<script type="text/javascript" src="/static/js/jquery-1.7.js"></script>  
<link type="text/css" rel="StyleSheet" href="/static/css/style.css">
<link type="text/css" rel="StyleSheet" href="/static/css/base.css">
<script type="text/javascript" src="/static/js/ajax.js"></script>  
<script language="javascript">
function load(resource) {
	if (window.XMLHttpRequest){//非IE浏览器及IE7(7.0及以上版本)，用xmlhttprequest对象创建
		xmlObj = new XMLHttpRequest();
	}
	else if (window.ActiveXObject){//IE(6.0及以下版本)浏览器用activexobject对象创建,如果用户浏览器禁用了ActiveX,可能会失败.
		xmlObj = new ActiveXObject("Microsoft.XMLHTTP");
	}	
	
	var btype=getOs();  //From ajax.js
	var p_empid = document.getElementById("empid").value;
	resource = resource + "?empid=" + p_empid;

	xmlObj.onreadystatechange = (btype="Firefox")?(handleResponse):(handleResponse());  //指定回調函數
	xmlObj.open("GET",resource,true);//与服务端建立连接(请求方式post或get，地址,true表示异步)
	xmlObj.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlObj.send(""); //发送请求
	xmlObj.onreadystatechange = (btype="Firefox")?(handleResponse):(handleResponse());  //Firefox
}

function handleResponse() {//回调函数，对服务端的响应处理，监视response状态
	//alert("state:"+xmlObj.readyState);
	if(xmlObj.readyState == 4 && xmlObj.status == 200){
		var xmlAppData = xmlObj.responseXML.getElementsByTagName("userinfo");  //獲取XML中appdata的數據集
		document.getElementById ("empname").value = xmlAppData[1].children[1].textContent;
		document.getElementById ("empdept").value = xmlAppData[1].children[3].textContent;
	}
}


</script>

</head>
<body>
	<table width="300" class="base_table" align="center">
		<tr>
			<th colspan=2>申請人信息</th>
		</tr>
		<tr>
			<td width="130" align='right'>員工號:&nbsp;</td>
			<td width="200"><input type="text" id="empid" name="empid" onblur="load('http://10.66.4.234/empinfosel/')"></p></td>
		</tr>
		<tr>
			<td width="130" align='right'>姓名:&nbsp;</td>
			<td><input type="text" id="empname" name="empname" disabled=true ></td>
		</tr>
		<tr>
			<td width="130" align='right'>部門:&nbsp;</td>
			<td><input type="text" id="empdept" name="dept" disabled=true ></td>
		</tr>
	</table>
	<p>
	<table width="300"  class="base_table" align="center">
		<tr>
			<th colspan=2>運貨信息</th>
		</tr>
		<tr>
			<td width="130" align='right'>運貨人工號:&nbsp;</td>
			<td width="200"><input type="text" id="carrierid" name="carrierid" onblur="load('http://10.66.4.234/empinfosel/')"></td>
		</tr>
		<tr>
			<td width="130" align='right'>運貨人姓名:&nbsp;</td>
			<td><input type="text" id="carriername" name="carriername" disabled=true></td>
		</tr>
		<tr>
			<td width="130" align='right'>運貨方式:&nbsp;</td>
			<td><input type="text" id="carriedby" name="carriedby"></td>
		</tr>
		<tr>
			<td width="130" align='right'>地點(起):&nbsp;</td>
			<td><input type="text" name="from"></td>
		</tr>
		<tr>
			<td width="130" align='right'>地點(止):&nbsp;</td>
			<td><input type="text" name="to"></td>
		</tr>
		<tr>
			<td width="130" align='right'>有效時間(起):&nbsp;</td>
			<td><input type="text" name="startdt"></td>
		</tr>
		<tr>
			<td width="130" align='right'>有效時間(止):&nbsp;</td>
			<td><input type="text" name="enddt"></td>
		</tr>
		
	</table> 

	<table width="300"  class="base_table" align="center">

		<tr align="center">
			<td><input type="submit" name="submit"  value="保存" class="blue" /></td>
		</tr>
		<tr>
			<td>{{errormsg}}</td>
		</tr>
	</table>

</body>
</html>