<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>  
<head>  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>JCS</title>  	
<link type="text/css" rel="StyleSheet" href="/static/css/style.css">

</head>  
<body>  

<table border=0>
	<tr height="200">
    	<td></td>
	</tr>

</table>
<TABLE border="1" align="center" valign="middle">
	<TR HEIGHT='18' WIDTH="100%" >
    	<td>用戶名：</td>
		<td><input type="text" name="username"/></td>
	</TR>
    <TR HEIGHT='18' WIDTH="100%" >
    	<td>密碼：</td>
		<td><input type="password" name="password"/></td>
	</TR>
    <TR HEIGHT='18' WIDTH="100%" >
        <td align="center"><input type="reset" value="ReSet" /></td>
		<td ><input type="button" name="submit" value="submit"/></td>

	</TR>
</TABLE>

</body>  
</html>  