<p> Step 4 攜入攜出申請</p>
<table>
<tr><th><label for="id_carry_in"><input type="checkbox" id="id_carry_in" name="carry_in" value="1"/> 申請攜入</label></th><td></td></tr>

<tr><th><label for="id_app_reason_1">攜入理由:</label></th><td><textarea name="app_reason_1" cols="80" rows="5" id="id_app_reason_1" /></td></tr>
<tr><th><label for="id_requested_dt_1">申請攜入日期:</label></th><td><input type="text" name="requested_dt_1" id="id_requested_dt_1" /></td></tr>
<tr><th><label for="id_device_dest_1">使用地點:</label></th><td><input id="id_device_dest_1" type="text" name="device_dest_1" maxlength="50" /></td></tr>

<tr><th><label for="id_carry_out"><input type="checkbox" id="id_carry_out" name="carry_out" value="1"/> 申請攜出</label></th><td></td></tr>

<tr><th><label for="id_app_reason_2">攜入理由:</label></th><td><textarea name="app_reason_2" cols="80" rows="5" id="id_app_reason_2" /></td></tr>
<tr><th><label for="id_requested_dt_2">申請攜出日期:</label></th><td><input type="text" name="requested_dt_2" id="id_requested_dt_2" /></td></tr>
<tr><th><label for="id_device_dest_2">目的地:</label></th><td><input id="id_device_dest_2" type="text" name="device_dest_2" maxlength="50" /></td></tr>
</table>
