<p> Step 3 申請人信息</p>
<table>
<tr class="guest"><th><label for="id_isguest_1"><input type="radio" id="id_isguest_1" value="1" name="isguest" /> 來訪人（客戶）</label></th><td></td></tr>

<tr class="guest"><th><label for="id_name">姓名:</label></th><td><input id="id_name" type="text" name="name" maxlength="50" /></td></tr>
<tr class="guest"><th><label for="id_company">公司:</label></th><td><input id="id_company" type="text" name="company" maxlength="50" /></td></tr>
<tr class="guest"><th><label for="id_phone">電話:</label></th><td><input id="id_phone" type="text" name="phone" maxlength="20" /></td></tr>
<tr class="guest"><th><label for="id_identify_type">證件類型:</label></th><td><input id="id_identify_type" type="text" name="identify_type" maxlength="20" /></td></tr>
<tr class="guest"><th><label for="id_identify_no">證件號碼:</label></th><td><input id="id_identify_no" type="text" name="identify_no" maxlength="30" /></td></tr>
<tr class="guest"><th><label for="id_emp_no_1">接待人工號:</label></th><td><input type="text" name="emp_no_1" id="id_emp_no_1" /></td></tr>
<tr class="guest"><th><label for="id_foxconn_name_1">接待人姓名:</label></th><td><input type="text" name="foxconn_name_1" id="id_foxconn_name_1" /></td></tr>


<tr class="foxconn"><th><label for="id_isguest_2"><input type="radio" id="id_isguest_2" value="2" name="isguest" /> 集團員工</label></th><td></td></tr>
<tr class="foxconn"><th><label for="id_emp_no_2">員工工號:</label></th><td><input type="text" id="id_emp_no_2" value="" name="emp_no_2" /></td></tr>
<tr class="foxconn"><th><label for="id_foxconn_name_2">員工姓名:</label></th><td><input type="text" name="foxconn_name_2" id="id_foxconn_name_2" /></td></tr>
</table>
