<p> Step 2 所申請設備信息</p>
<table>
<tr><th><label for="id_owner">資產類型</label></th><td><select name="owner" id="id_owner">
<option value="" selected="selected">---------</option>
<option value="1">Personal</option>
<option value="2">Company</option>
</select></td></tr>
<tr><th><label for="id_manufacturer">品牌:</label></th><td><input id="id_manufacturer" type="text" name="manufacturer" maxlength="50" /></td></tr>
<tr><th><label for="id_model_no">型號:</label></th><td><input id="id_model_no" type="text" name="model_no" maxlength="50" /></td></tr>
<tr><th><label for="id_color">顏色:</label></th><td><input id="id_color" type="text" name="color" maxlength="20" /></td></tr>
<tr><th><label for="id_sn">設備序號:</label></th><td><input id="id_sn" type="text" name="sn" maxlength="50" /></td></tr>
<tr><th><label for="id_lan_mac">有線mac地址:</label></th><td><input id="id_lan_mac" type="text" name="lan_mac" maxlength="17" /></td></tr>
<tr><th><label for="id_wifi_mac">無線mac地址:</label></th><td><input id="id_wifi_mac" type="text" name="wifi_mac" maxlength="17" /></td></tr>
</table>