{% extends "base_left_nav.html" %}
{% load i18n %}
{% block title%}用戶中心 - {% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block maincontent %}

<div class="page-header">
    <h1>用戶中心<small></small></h1>
</div>

<p class="lead">
{% trans "歡迎， 您可以在此頁面修改的資料，包括密碼、郵箱地址、分機號、手機號碼。" %}
</p>
<div>
    <a class="btn btn-large span4" href="{% url 'gk_my_password' %}">{% trans "修改密碼" %}</a>

    <a class="btn btn-large span4" href="{% url 'gk_my_profile' %}">{% trans "修改郵箱及電話" %}</a>
</div>

{%endblock%}
