{% extends "base_left_nav.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}
{% block title%}{% trans 'Password change' %} - {% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
    
    });
</script>
{% endblock %}

{% block maincontent %}
<div class="page-header">
    <h1>{% trans 'Password change' %}<small></small></h1>
</div>

<div class="alert alert-info">
    {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
</div>

<form class="form-horizontal" method="post">
    {% csrf_token %}
    
    {{ form|as_bootstrap:"vertical" }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">修改密碼</button>&nbsp;
        <button type="reset" class="btn">取消</button>
    </div>
</form>

    
{%endblock%}
