<table>
	<tr>
		<td>資產:</td>
		<td>{{app.device.get_owner_display}}</td>
		<td></td>
		<td></td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>品牌:</td>
		<td>{{app.device.get_manufacturer_display}}</td>
		<td>設備型號:</td>
		<td>{{app.device.model_no}}</td>
		<td>有線網卡MAC地址:</td>
		<td>{{app.device.lan_mac}}</td>
	</tr>
	<tr>
		<td>顏色:</td>
		<td>{{app.device.get_color_display}}</td>
		<td>設備序號:</td>
		<td>{{app.device.sn}}</td>
		<td>無線網卡MAC地址:</td>
		<td>{{app.device.wifi_mac}}</td>
	</tr>
</table>