<table>
<tr>
<td><label for="id_company">公司:</label></td>
<td><input type="text" name="company" id="id_company" class="validate[required]"/></td>
<td><label for="id_name">證件類型:</label></td>
<td><select name="id_type" id="id_id_type">
    <option value="factory_card" selected="selected">公司廠牌</option>
    <option value="id_card" >身份證</option>
    </select></td>
    
<tr>
<td><label for="id_name">姓名:</label></td>
<td><input type="text" name="name" id="id_name" /></td>
<td><label for="id_id_no">證件號碼:</label></td>
<td><input type="text" name="id_no" id="id_id_no" /></td>
<td><label for="id_telephone">聯繫電話:</label></td>
<td><input type="text" name="telephone" id="id_telephone" /></td>
</tr>
</table>