<div id="customer-info-inline">
    
    <table>
        <tr>
            <td>{{form.customer_company.label_tag}}:</td>
            <td>{{form.customer_company}}</td>
            <td>{{form.id_type.label_tag}}:</td>
            <td>{{form.id_type}}</td>
        </tr>
        <tr>
            <td>{{form.customer_name.label_tag}}:</td>
            <td>{{form.customer_name}}</td>
            <td>{{form.id_no.label_tag}}:</td>
            <td>{{form.id_no}}</td>
            <td>{{form.customer_telephone.label_tag}}:</td>
            <td>{{form.customer_telephone}}</td>
        </tr>
    </table>
    
</div>