<div class="row">
    
</div>

<h3>1.申請人信息:</h3>
<h4>接待人:</h4>
<div class="row-fluid">
    <div class='span9'>單位:{{app.emp_department}}</div>
    <div class="row-fluid">
        <div class='span3'>姓名:{{app.emp_name}}</div>
        <div class='span3'>工號:{{app.emp_no}}</div>
        <div class='span3'>分機號碼:{{app.emp_extension}}</div>
    </div>
</div>
<div>
    <div class='span3'>資位:{{app.emp_grade}}</div>
    <div class='span3'>管理職:{{app.emp_position}}</div>
    <div class='span3'>聯繫電話:{{app.emp_telephone}}</div>
</div>

<h4>來訪人/客戶:</h4>
<div class ="row">
    <div>公司:{{app.customer_company}}</div>
    <div>姓名:{{app.customer_name}}</div>
    <div>證件類型:{{app.customer_id_type}}</div>
    <div>聯繫電話:{{app.customer_telephone}}</div>

</div>
