<div id="employee-info-inline">
    
    <table>
        <tr>
            <td>{{form.emp_no.label_tag}}:</td>
            <td>{{form.emp_no}}</td>
            <td>{{form.emp_name.label_tag}}:</td>
            <td>{{form.emp_name}}</td>
            <td>{{form.extension.label_tag}}:</td>
            <td>{{form.extension}}</td>
        </tr>
        <tr>
            <td>{{form.position.label_tag}}:</td>
            <td>{{form.position}}</td>
            <td>{{form.grade.label_tag}}:</td>
            <td>{{form.grade}}</td>
            <td>{{form.emp_telephone.label_tag}}:</td>
            <td>{{form.emp_telephone}}</td>
        </tr>
        <tr>
            <td>{{form.department.label_tag}}:</td>
            <td>{{form.department}}</td>
        </tr>
    </table>
    
</div>