<h2>電腦出入管製卡申請單（員工專用）</h2>
<form id="mainform">
    <h3>持卡人信息：</h3>
    
    <label for="id_bg">單位:</label><input type="text" name="bg" id="id_bg" value="事業群 次群/群周邊 產品處/機能處 部級單位 課級單位" />
    </br>
     <label for="id_emp_no">工號:</label><input type="text" name="emp_no" id="id_emp_no" class="validate[required]"/>
    <label for="id_name">姓名:</label><input type="text" name="name" id="id_name" />
    <label for="id_extension">分机號碼:</label><input type="text" name="extension" id="id_extension" />
    </br>
    <label for="id_grade">资位:</label><input type="text" name="grade" id="id_grade" />
    <label for="id_postion">管理职:</label><input type="text" name="position" id="id_postion" />
    <label for="id_telephone">电话號碼:</label><input type="text" name="telephone" id="id_telephone" />
    
    <h3>設備信息：</h3>
    
    <label for="id_owner_1">资产:</label>
    <label for="id_owner_1"><input class="validate[required] radio" type="radio" id="id_owner_1" value="1" name="owner" />个人</label>
    <label for="id_owner_2"><input class="validate[required] radio" type="radio" id="id_owner_2" value="2" name="owner" />公司</label></br>

    <label for="id_manufacturer">品牌:</label><input id="id_manufacturer" type="text" name="manufacturer" maxlength="50" class="validate[required]"/>
    <label for="id_model_no">設備型號:</label><input id="id_model_no" type="text" name="model_no" maxlength="50" class="validate[required]"/>
    <label for="id_lan_mac">有線網卡MAC地址:</label><input id="id_lan_mac" type="text" name="lan_mac" maxlength="17" class="validate[required]"/></br>
    <label for="id_color">颜色:</label><input id="id_color" type="text" name="color" maxlength="20" class="validate[required]"/>
    <label for="id_sn">設備序號:</label><input id="id_sn" type="text" name="sn" maxlength="50" class="validate[required]"/>
    <label for="id_wifi_mac">無線網卡MAC地址:</label><input id="id_wifi_mac" type="text" name="wifi_mac" maxlength="17" /></br>

    <h3>申請說明：</h3>
    <label for="id_comment"></label><textarea id="id_comment" name="comment" cols="50" rows="3" class="validate[required]" />
    
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $("#mainform").validationEngine({
            showPrompts:true,
            validationEventTriggers:"blur"
        }); 
        
        
        $("input").bind("jqv.field.result",function(event,field,errorFound,prompText){ 
                if(errorFound){ 
                    
                    field.removeClass("valid"); 
                    field.addClass("invalid"); 
                    if(0<field.next(".valid-side-note").length) 
                        field.next(".valid-side-note").remove(); 
                    //if(0==field.next(".invalid-side-note").length) 
                    //    field.after('<span class="invalid-side-note">'+prompText+'</span>'); 
                }else{ 
                    field.removeClass("invalid"); 
                    field.addClass("valid"); 
                    if(0<field.next(".invalid-side-note").length) 
                        field.next(".invalid-side-note").remove(); 
                    //if(0==field.next(".valid-side-note").length) 
                    //    field.after('<span class="valid-side-note"></span>'); 
                } 
                errorFound==false; 
                //$("input").validationEngine('autoHidePrompt',true); 
            });
            
        /*
        $('#mainform').validate({
            rules:{
                emp_no:{required:true},
                
                owner:{required:true},
                manufacturer:{required:true},
                model_no:{required:true},
                lan_mac:{required:true},
                color:{required:true},
                sn:{required:true},
                wifi_mac:{required:true,macaddr:''},
                reason:{required:true}
                },
            groups:'owner',
            errorPlacement:function(error,element) { 
                if (element.attr("name") == "owner") {
                    var $elem = element.parent().next();
                    error.insertAfter($elem); 
                    }
                else 
                error.insertAfter(element); 
            },
            
        });
        */
    });
    
</script>

