<div class="wizardbase">
    <div class="nav_horizontal">
        <ul>
            <li><a href="#">Step1</a></li>
            <li><a href="#">Step2</a></li>
            <li><a href="#">Step3</a></li>
        </ul>
    </div>
    
    <div id="formcontent">
    </div>
    
    <div id="wizardbutton">
        <input type="button" id="prev_step" value="<-上一步"/>
        <input type="button" id="next_step" value="下一步->"/>
    </div>

</div>
<script type="text/javascript">
    var app_type; //表單類型
    var stepCurrent=1;
    
    $(document).ready(function(){
        //初始化表單
        $('#prev_step').hide();
        loadStepPage('1','0');
        setTabStyle(0);
        $.validator.addMethod(
            'macaddr',
            function(value,element,param){
                console.log(value);
                var patrn = /^[0-9,a-f,A-F]{2}[-][0-9,a-f,A-F]{2}[-][0-9,a-f,A-F]{2}[-][0-9,a-f,A-F]{2}[-][0-9,a-f,A-F]{2}[-][0-9,a-f,A-F]{2}/;
                if( !patrn.exec(value) ) return false;
                return true;
                /*
                if (value.length ==17)
                    return true;
                return false;*/
            },
            '請輸入正確的mac地址,格式應如00-50-56-C0-00-08.'
        );
        
        $("#prev_step").click(function(){
            doPrevStepPage();
        });
        
        $("#next_step").click(function(){
            doNextStepPage();
        });
    });
    
    function validateForm(){
        //return $('#mainform').valid();
        return $('#mainform').validationEngine("validate");
    }
    
    function doNextStepPage(){
        var isValid = validateForm();
        if (!isValid) return;
        
        if (stepCurrent ==1){
            app_type = $("[name=app_type][checked]:radio").val();//保存所選申請表單類型
            loadStepPage('2','1');
            $('#prev_step').show();
            setTabStyle(1);
        }
        else if (stepCurrent ==2){
            loadStepPage('3','2');
        }
        stepCurrent ++;
    }
    
    function doPrevStepPage(){
        if (stepCurrent==2)
        {
            loadStepPage('1','2');
            $('#prev_step').hide();
            setTabStyle(0);
            stepCurrent--;
        }
    }
    
    //加載頁面并獲取JSON數據
    function loadStepPage(loadStep,currentStep){
        var htmlurl = "appform/create/step"+loadStep+"/"+currentStep+"/";
        var jsonurl = "appform/create/getjson/step"+loadStep+"/";
        if (currentStep=="0")
            postdata = {};
        else
            postdata = $("#mainform").serialize();
        
        loadPageAndJson(htmlurl,postdata,"#formcontent",jsonurl,
                        function(data){
                            console.log(data);
                            if (loadStep=='1')
                                $("#id_apptype_"+ data.app_type).attr("checked","checked");
                            else if (loadStep=='2'){
                                if (app_type=='3'){
                                    $('#id_emp_no').val(data.emp_no);
                                    $('#id_sub_phone').val(data.sub_phone);
                                    $('#id_sub_phone').val(data.telephone);
                                    $('#id_owner_'+data.owner).attr('checked',true);
                                    $('#id_manufacturer').val(data.manufacturer);
                                    $('#id_model_no').val(data.model_no);
                                    $('#id_sn').val(data.sn);
                                    $('#id_color').val(data.color);
                                    $('#id_lan_mac').val(data.lan_mac);
                                    $('#id_wifi_mac').val(data.wifi_mac);
                                    $('#id_reason').val(data.reason);
                                }
                            }
                            
            });
    }
    
    function setTabStyle(liIndex){
        $(".nav_horizontal ul li").eq(liIndex).addClass("nav_horizontal_current")
                        .siblings().removeClass("nav_horizontal_current");
    }
</script>